[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Oo]bj/
[Ll]og/
x64/
x86/

**/public/components/
**/www/lib/
platforms/
plugins/
node_modules/

npm-debug.log

*.npm
*.c9
*.log
*.sln
*.suo
*.user
*.userosscache
*.DS_Store
*.idea